*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.6;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid lightgrey;
    position: absolute;
    left: 50%;
    top: 600px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 1%;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid lightgrey;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    padding: 8px 0;
}
img{
    width: 100%;
    display: block;
}
@media(max-width: 500px){
    body{
        font-size: 14px;
    }
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("castle.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-top span{
    cursor: pointer;
    letter-spacing: 2px;
    transition: var(--transition);
}
.head-top span:hover{
    color: var(--yellow);
}
.head-bottom{
    flex: 1;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}
.head-bottom h2{
    padding: 22px 0;
    font-size: 45px;
    border-bottom: 1px solid #fff;
}
.head-bottom p{
    opacity: 0.7;
    font-size: 20px;
    margin: 45px auto;
    width: 60vw;
}
.head-btn{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    padding: 13px 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
}
.head-btn:hover{
    background: transparent;
}
@media(max-width: 500px){
    .head-btn{
        font-size: 17px;
    }
    .head-bottom h2{
        font-size: 28px;
    }
    .head-bottom p{
        font-size: 17px;
        margin: 20px auto;
    }
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("michel-rocha-GSIzNfR9GLE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    margin-top: 1%;
    width: 100%;
    height: 9vh;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }*/
  
.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}
.left img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.right > *{
    margin-bottom: 1.1rem;
    color: #222;
}

.right h1{
    font-size: 2rem;
    font-weight: 800;
}
.right p{
    text-align: justify;
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid gray;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.btn::after{
    content: "";
    background: gray;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: width .5s ease;
}
.btn:hover::after{
    width: 100%;
}

h1 {
    text-align: center;
    font-family: Acme Regular;
    font-weight: bolder;

}
@media (max-width:768px){
    .grid{
        grid-template-columns: 1fr;
    }

    .btn {
        margin-left: 150px;
    }
}

.banner{
    min-height: 100vh;
    background: url("jess-bailey-K9BOrwoFVYc-unsplash.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding-bottom: 20px;
}

/*.navbar2 {
    overflow: hidden;
    background-color: transparent;
    position: sticky;
    margin-top: 1%;
    width: 100%;
    height: 9vh;
    margin-left: 500px;
  }
  
  .navbar2 a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar2 a:hover {
    background: #ddd;
    color: black;
  }*/


.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-img{
    background: url("guards.jpg") center/cover no-repeat;
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #fff;
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}

.btn2{
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid gray;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-left: 130px;
    color: black;
}

.btn2:hover {
    color: gray;
}


@media (max-width:768px){
    .btn2 {
        margin-left: 150px;
    }
}

@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}

#contact {
    height: 100vh;
     display: flex;
     align-items: center;
     background: url("michel-rocha-GSIzNfR9GLE-unsplash.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }
 
 .contact-info{
   display: flex;
   width: 100%;
   max-width: 1200px;
   align-items: center;
   justify-content: center;
   padding: 0 20px;
   margin-left: 200px;
 }
 
 
 .card{
   background: #2f3542;
   padding: 0 20px;
   margin: 0 10px;
   width: calc(33% - 20px);
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
   cursor: pointer;
 }
 
 .card-icon{
   font-size: 28px;
   background: #ff6348;
   width: 60px;
   height: 60px;
   text-align: center;
   line-height: 60px !important;
   border-radius: 50%;
   transition: 0.3s linear;
 }
 
 .card:hover .card-icon{
   background: none;
   color: #ff6348;
   transform: scale(1.6);
 }
 
 .card p{
   margin-top: 20px;
   font-weight: 300;
   letter-spacing: 2px;
   max-height: 0;
   opacity: 0;
   transition: 0.3s linear;
 }
 
 .card:hover p{
   max-height: 40px;
   opacity: 1;
 }
 
 
 @media screen and (max-width:800px) {
   .contact-info{
     flex-direction: column;
     margin-left: 40px;
   }
   .card{
     width: 100%;
     max-width: 300px;
     margin: 10px 0;
   }
 }

 footer{
    background: lightsteelblue;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
  footer .text span a{
    font-weight: 500;
    color: #FFF;
  }
  footer .text span a:hover{
    text-decoration: underline;
  }
 




